In [1]:
import os
os.getcwd()

'/home/mulluken/Documents/enehoo/tomercato'

In [2]:
import pandas as pd

df = pd.read_excel (r'ngd mereja.xlsx') #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'
print (df)

     LegalStatusNameAmhSource  \
0        ሃላፊነቱ የተወሰነ የግል ማህበር
1        ሃላፊነቱ የተወሰነ የግል ማህበር
2        ሃላፊነቱ የተወሰነ የግል ማህበር
3        ሃላፊነቱ የተወሰነ የግል ማህበር
4        ሃላፊነቱ የተወሰነ የግል ማህበር
...                       ...
1350                 ግለሰብ ነጋዴ
1351          የህብረት ሽርክና ማህበር
1352          የህብረት ሽርክና ማህበር
1353                 ግለሰብ ነጋዴ
1354                 ግለሰብ ነጋዴ

                                        BusinessNameAmh amdescription  \
0                              አማጋ ኃላፊነቱ የተወሰነ የግል ኩባንያ        ኢትዮጵያዊ
1                                     ሙለጌ ኃ የተ የግል ማህበር        ኢትዮጵያዊ
2                       አልታ ኮምፒዩቴክ ኃላፊነቱ የተወሰነ የግል ማህበር        ኢትዮጵያዊ
3                 አዲስ ኤክስፖርተር ሊሚትድ ሀላፊነቱ የተወሰነ የግል ማህበር        ኢትዮጵያዊ
4                       ይርጋ ትሬዲንግ  ሀላፊነቱ የተወሰነ የግል ማህበር        ኢትዮጵያዊ
...                                                 ...           ...
1350                                        ዮሴፍ ደረጀ ለገሰ        ኢትዮጵያዊ
1351  ቤተልሄም መድሃኒት ራሄል እና ጓደኞቻቸው የደሮ እርባታ ህብረት ሽርክና ማህበር        ኢትዮጵያዊ
1352        አበበች ሄኖክ እና ጓደኞቻቸው የደሮ ዕርባታ ህብረት ሽርክና ማህበር         ኢትዮጵያዊ
1353                                        ከድጃ ኡመር ሰኢድ        ኢትዮጵያዊ
1354                                         አበበ ከበደ ለማ        ኢትዮጵያዊ

           WOREDA  KEBELE   HOUSE_NO        Tel DateRegistered  PaidUpCapital  \
0         አዲስ ከተማ       1  1ኛ/ፎ/F1-7  911276048     2018-10-25    120993000.0
1              ቦሌ       7        አዲስ  112772938     2015-06-09    495600000.0
2            ቂርቆስ       1     988/06  115519546     2017-10-20    163940000.0
3             አራዳ       2      738/ሀ  111561829     2014-07-29     16106000.0
4         አቃቂ ቃሊቲ       5        አዲስ  911650467     2014-03-17     27780000.0
...           ...     ...        ...        ...            ...            ...
1350  ንፋስ ስልክ ላፍቶ       1    አዲስ/New  910662548     2018-11-30        20000.0
1351  ንፋስ ስልክ ላፍቶ       9        3/ለ  911107178     2018-11-30         2500.0
1352  ንፋስ ስልክ ላፍቶ       9        3/ሀ  922453578     2018-12-03         2000.0
1353     ኮልፌ ቀራንዮ       3       561-  912065006     2018-12-03       100000.0
1354      አቃቂ ቃሊቲ       8        265  215421214     2012-12-18       500000.0

                           Description  \
0     1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
1     1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
2     1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
3     1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
4     1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
...                                ...
1350  1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
1351  1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
1352  1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
1353  1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር
1354  1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር

                                             BusinessIn       SiteID  Status  \
0     ሌሎች በሌላ ቦታ ያልተጠቀሱ ደን ማልማት፤ ግንድላ ማምረትና ተዛማጅ   አ...        AK/AA       0
1                                የማበጠር እና ተዛማጅ አገልግሎቶች         BL/AA       0
2                                የማበጠር እና ተዛማጅ አገልግሎቶች        AKK/AA       0
3                                የማበጠር እና ተዛማጅ አገልግሎቶች         AR/AA       0
4                                የማበጠር እና ተዛማጅ አገልግሎቶች        klk/AA       0
...                                                 ...          ...     ...
1350                                            ዶሮ ማርባት        NL/AA       0
1351                                            ዶሮ ማርባት  AA/NL/09/OC       0
1352                                            ዶሮ ማርባት  AA/NL/09/OC       0
1353                    ሌሎች ሌላ ቦታ ያልተጠቀሱ የቁም እንስሳት ማልማት    AA/KLK/03       0
1354                            ደን ማልማት እና ተዛማጅ አገልግሎቶች    AA/AKK/04       0

      Sex              Category
0       0  ሃላፊነቱ የተወሰነ የግል ማህበር
1       0  ሃላፊነቱ የተወሰነ የግል ማህበር
2       0  ሃላፊነቱ የተወሰነ የግል ማህበር
3       0  ሃላፊነቱ የተወሰነ የግል ማህበር
4       1  ሃላፊነቱ የተወሰነ የግል ማህበር
...   ...                   ...
1350    0  ሃላፊነቱ የተወሰነ የግል ማህበር
1351    1  ሃላፊነቱ የተወሰነ የግል ማህበር
1352    1  ሃላፊነቱ የተወሰነ የግል ማህበር
1353    1  ሃላፊነቱ የተወሰነ የግል ማህበር
1354    0  ሃላፊነቱ የተወሰነ የግል ማህበር

[1355 rows x 15 columns]

In [13]:
sheet_to_df_map = pd.read_excel('ngd mereja 2.xlsx', sheet_name=None)
mdf = pd.concat(sheet_to_df_map, axis=0, ignore_index=True)

In [15]:
mdf.count()

LegalStatusNameAmhSource    231147
BusinessNameAmh             231147
amdescription               231147
WOREDA                      231147
KEBELE                      231147
HOUSE_NO                    231121
Tel                         190537
DateRegistered              231147
PaidUpCapital               231147
Description                 231147
BusinessIn                  231147
SiteID                      231147
Status                      231147
Sex                         231147
Category                    231147
dtype: int64

In [3]:
df.head()

,LegalStatusNameAmhSource,BusinessNameAmh,amdescription,WOREDA,KEBELE,HOUSE_NO,Tel,DateRegistered,PaidUpCapital,Description,BusinessIn,SiteID,Status,Sex,Category
0,ሃላፊነቱ የተወሰነ የግል ማህበር,አማጋ ኃላፊነቱ የተወሰነ የግል ኩባንያ,ኢትዮጵያዊ,አዲስ ከተማ,1,1ኛ/ፎ/F1-7,911276048,2018-10-25,120993000.0,1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር,ሌሎች በሌላ ቦታ ያልተጠቀሱ ደን ማልማት፤ ግንድላ ማምረትና ተዛማጅ አ...,AK/AA,0,0,ሃላፊነቱ የተወሰነ የግል ማህበር
1,ሃላፊነቱ የተወሰነ የግል ማህበር,ሙለጌ ኃ የተ የግል ማህበር,ኢትዮጵያዊ,ቦሌ,7,አዲስ,112772938,2015-06-09,495600000.0,1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር,የማበጠር እና ተዛማጅ አገልግሎቶች,BL/AA,0,0,ሃላፊነቱ የተወሰነ የግል ማህበር
2,ሃላፊነቱ የተወሰነ የግል ማህበር,አልታ ኮምፒዩቴክ ኃላፊነቱ የተወሰነ የግል ማህበር,ኢትዮጵያዊ,ቂርቆስ,1,988/06,115519546,2017-10-20,163940000.0,1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር,የማበጠር እና ተዛማጅ አገልግሎቶች,AKK/AA,0,0,ሃላፊነቱ የተወሰነ የግል ማህበር
3,ሃላፊነቱ የተወሰነ የግል ማህበር,አዲስ ኤክስፖርተር ሊሚትድ ሀላፊነቱ የተወሰነ የግል ማህበር,ኢትዮጵያዊ,አራዳ,2,738/ሀ,111561829,2014-07-29,16106000.0,1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር,የማበጠር እና ተዛማጅ አገልግሎቶች,AR/AA,0,0,ሃላፊነቱ የተወሰነ የግል ማህበር
4,ሃላፊነቱ የተወሰነ የግል ማህበር,ይርጋ ትሬዲንግ ሀላፊነቱ የተወሰነ የግል ማህበር,ኢትዮጵያዊ,አቃቂ ቃሊቲ,5,አዲስ,911650467,2014-03-17,27780000.0,1. ግብርና ፣አደን፣የደን ልማት እና የአሳ ማስገር,የማበጠር እና ተዛማጅ አገልግሎቶች,klk/AA,0,1,ሃላፊነቱ የተወሰነ የግል ማህበር

In [18]:

from pandas.io import sql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Muluken!2nega",
                               db="ngd"))
mdf.to_sql(con=engine, name='ngd_aa', if_exists='replace')

In [7]:
conda install sqlalchemy

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.